body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* general classes */
.otherColor{
    color:#10B981
}

.buttonStyling {
    padding: 10px;
    height: 10px;
    width: 125px;
    background-color: #2F3E53;
    color:#10B981;
    border: 1px solid #2F3E53;
    border-radius: 2px;
}

button {
    background-color: #10B981;
    color: #ECFDF5;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    margin-top: 25px;
}

.lineBreak {
    display: block;
}


/* container elements */
.container {
    background-color: #273549;
    color: #ECFDF5;
    width: 450px;
    height: 400px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end; */
}

.passwordContainer {
    height: 100px;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}

/* hero */

.hero {
    height: 300px;
    border-bottom: 1px solid #6B7280; 
    
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#numbers {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* passwords */
.passwordContainer  p {
    text-align: center;
    padding: 10px;
    height: 10px;
    width: 125px;
    background-color: #2F3E53;
    color:#10B981;
    border: 1px solid #2F3E53;
    border-radius: 2px;
}