body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
}


/* general classes */
.otherColor{
    color:#10B981
}

.buttonStyling {
    padding: 10px;
    height: 15px;
    width: 140px;
    background-color: #2F3E53;
    color:#10B981;
    border: 1px solid #2F3E53;
    border-radius: 2px;
    font-weight: 200;
}

button {
    background-color: #10B981;
    color: #ECFDF5;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    margin-top: 25px; 
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.lineBreak {
    display: block;
}

h1 {
    font-size: 24px;
    margin-bottom: 0px
}


/* container elements */
.container {
    background-color: #273549;
    color: #ECFDF5;
    /* width: 550px; */
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.passwordContainer {
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}


/* hero */
.hero {
    height: 300px;
    border-bottom: 1px solid #6B7280; 
    padding: 30px;
}

.hero p {
    margin-bottom: 40px;
    font-weight: 200;
}

.options {
    display: flex;
    justify-content: space-around;
}

.opChoices {
    margin-left: 20px;
}

#numbers {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* passwords */
.passwordContainer  p {
    text-align: center;
    padding: 10px;
    width: 140px; 
}
